.igsnavbar {
  z-index: 1000;
  width: 100%;
}
.igsnavbar nav.navbar {
  position: fixed;
}
.igsnavbar .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.igsnavbar .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.igsnavbar .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.igsnavbar .dropdown-item:hover,
.igsnavbar .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.igsnavbar .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.igsnavbar .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.igsnavbar .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.igsnavbar .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.igsnavbar .nav-link {
  position: relative;
}
.igsnavbar .container {
  display: flex;
  margin: auto;
}
.igsnavbar .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.igsnavbar .dropdown-menu,
.igsnavbar .navbar.opened {
  background: #ffffff !important;
}
.igsnavbar .nav-item:focus,
.igsnavbar .nav-link:focus {
  outline: none;
}
.igsnavbar .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.igsnavbar .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.igsnavbar .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.igsnavbar .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.igsnavbar .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.igsnavbar .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.igsnavbar .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0.5);
}
.igsnavbar .navbar.opened {
  transition: all 0.3s;
}
.igsnavbar .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.igsnavbar .navbar .navbar-logo img {
  width: auto;
}
.igsnavbar .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.igsnavbar .navbar.collapsed {
  justify-content: center;
}
.igsnavbar .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.igsnavbar .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .igsnavbar .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.2rem);
  }
}
.igsnavbar .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.igsnavbar .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.igsnavbar .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.igsnavbar .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.igsnavbar .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.igsnavbar .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .igsnavbar .navbar .nav-item .nav-link::before {
    display: none;
  }
  .igsnavbar .navbar.opened .dropdown-menu {
    top: 0;
  }
  .igsnavbar .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .igsnavbar .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .igsnavbar .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .igsnavbar .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .igsnavbar .navbar ul.navbar-nav li {
    margin: auto;
  }
  .igsnavbar .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .igsnavbar .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .igsnavbar .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .igsnavbar .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.igsnavbar .navbar.navbar-short {
  min-height: 60px;
}
.igsnavbar .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.igsnavbar .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.igsnavbar .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.igsnavbar .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.igsnavbar .navbar-brand .navbar-logo a {
  outline: none;
}
.igsnavbar .dropdown-item.active,
.igsnavbar .dropdown-item:active {
  background-color: transparent;
}
.igsnavbar .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.igsnavbar .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.igsnavbar .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.igsnavbar .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.igsnavbar .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.igsnavbar .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.igsnavbar ul.navbar-nav {
  flex-wrap: wrap;
}
.igsnavbar .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.igsnavbar button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.igsnavbar button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.igsnavbar button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.igsnavbar button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.igsnavbar button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.igsnavbar button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.igsnavbar nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.igsnavbar nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.igsnavbar nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.igsnavbar nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.igsnavbar .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.igsnavbar a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.igsnavbar .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .igsnavbar .navbar {
    height: 70px;
  }
  .igsnavbar .navbar.opened {
    height: auto;
  }
  .igsnavbar .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
