.homepage-block1 {
  /*background-image: url("../../assets/images/homepage-image.jpg");*/
  background-image: url("../../assets/images/coyhaique.jpg");
}
.homepage-block1 .social-row .soc-item {
  display: inline-block;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: .7rem;
}
.homepage-block1 .social-row .soc-item .mbr-iconfont {
  font-size: 32px;
  border-radius: 50%;
  padding: 0.6rem;
  border: 2px solid #232323;
  transition: all 0.3s;
  color: #232323;
}

.homepage-block1 .social-row .soc-item .mbr-iconfont:hover {
  background-color: #232323;
  color: #ffffff;
}
.homepage-block1 .mbr-section-title {
  color: #232323;
}

.homepage-block2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../assets/images/ice-image.jpg");
}

.homepage-block3 {}
